@model Assig1.ViewModels.DataBreakdownViewModel

<h2>Data Breakdown</h2>

<table class="table">
    <thead>
        <tr>
            <th>Offence Code</th>
            <th>Description</th>
            <th>Incident Start Date</th>
            <th>Total Fee Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.OffenceCode</td>
            <td>@Model.Description</td>
            <td>@Model.IncidentStartDate</td>
            <td>@Model.TotalFeeAmt</td>
        </tr>
    </tbody>
</table>