@model Assig1.ViewModels.Speeding_SpeedingDetail

<div class="container mt-4">
    <h1>@Model.Description</h1>
    <div class="row">
        @foreach(var item in new[]
        {
            new { Title = Html.DisplayNameFor(m => m.OffenceCode), Value = Html.DisplayFor(m => m.OffenceCode) },
            new { Title = Html.DisplayNameFor(m => m.ExpiationFee), Value = Html.DisplayFor(m => m.ExpiationFee) },
            new { Title = Html.DisplayNameFor(m => m.DemeritPoints), Value = Html.DisplayFor(m => m.DemeritPoints) },
            new { Title = Html.DisplayNameFor(m => m.TotalOffencesInSpeedCode), Value = Html.DisplayFor(m => m.TotalOffencesInSpeedCode) },
            new { Title = Html.DisplayNameFor(m => m.AverageDemeritPoints), Value = Html.DisplayFor(m => m.AverageDemeritPoints) },
            new { Title = Html.DisplayNameFor(m => m.AverageFeePaid), Value = Html.DisplayFor(m => m.AverageFeePaid) },
            new { Title = Html.DisplayNameFor(m => m.HighestFeePaid), Value = Html.DisplayFor(m => m.HighestFeePaid) },
            new { Title = Html.DisplayNameFor(m => m.SectionID), Value = Html.DisplayFor(m => m.SectionID) },
        })
        {
            <div class="col-md-3">
                <div class="card mb-4 h-100 text-white bg-success">
                    <div class="card-body">
                        <h5 class="card-title">@item.Title</h5>
                        <p class="card-text">@item.Value</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>